.contact-container {
    margin: 100px 65px;
}

.contact-content {
    color: #000;
}
.contact-title {
    margin-bottom: 30px;
    font-weight: 500;
}
.contact-drs {

}

.contact-footer {
    text-align: center;
    margin-bottom: 50px;
}

.contact-map {
    margin: 0px 200px 40px
}

.map {
    width: 100%;
}